
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.error{
    color:red;
}

*{
    font-family: 'Poppins', sans-serif;
}

body{
    font-family:cursive;
    /* background: url('photo.jpeg'); */
}

.center {
    /* background-image: url("photo.jpeg"); */
    
    margin: auto;
    width: 90%;
    padding: 50px; 
   border-radius:10px;
   position: relative;
   right: 30px;
   /* margin-left:700px; */
   
}


#fname, #last,#email,#uname,#pwd,#cpwd,#img,#country,#state,#city,#term{
    border-radius:10px;
    font-size: 13px;
    border-bottom-color: white;
    background: transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    
}


#male,#female
{
    color:white;
    font-size: 13px;
}

#term{
    padding-top: 10px;
    padding-bottom: 10px;
    
}

h4{
    color: white;
    text-align: center;
}
.button {
    border-radius:20px;
    padding:5px;
    font-size:1rem;
    text-transform:uppercase;
    color:white;
  }
  .button-block {
   color:white;
    width:30%;
    background: transparent;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  }
   .image{
    
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 5px;
    width: 130px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: -50px;
    display: block;

  } 

.side{
    border-radius: 5px;
    height: 700px;
    width: 600px;
    position: relative;
    left: 100px;
    top: 20px;
 
}
.invalid
  {
      color:crimson;
  }
  .centerlogin{
  text-align: center;
  
  } 
  
  
  

  